<section class="section">
    <div class="container">
        <h1 class="title">{{article.title}}</h1>
        <p>{{article.content}}</p>
        
    </div>
    <p><a href="/articles/edit">Modifier l'article</a></p>

</section>